<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LISTADO DE LIBROS</title>
</head>
<body>
<h3>Usuario: <span th:if="${usuario != null}" th:text="${usuario.nombre}"></span></h3>
<h3>Password: <span th:if="${usuario != null}" th:text="${usuario.password}"></span></h3>

<h1>LISTADO DE LIBROS</h1>
<!--Tabla de libros-->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>TITULO</th>
        <th>AUTOR</th>
        <th>EDITORIAL</th>
        <th>FECHA DE PUBLICACION</th>
        <th>TEMATICA</th>
        <th>BORRADO</th>
        <th>MODIFICAR</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${libros.empty}">
        <td colspan="6">No hay libros</td>
    </tr>
    <tr th:each="libro : ${libros}">
        <td th:text="${libro.id}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.autor}"></td>
        <td th:text="${libro.editorial}"></td>
        <td th:text="${libro.fecha}"></td>
        <td th:text="${libro.tematica}"></td>
        <td><a th:href="@{/borrado/}+${libro.id}">Borrar</a></td>
        <td><a th:href="@{/modificar/}+${libro.id}">Modificar</a></td>
    </tr>
    </tbody>

</table>
<!--Fin tabla de libros-->
<!--Formulario -->
<form th:action="${action}" method="post">
    <div>
        <label>Id</label>
        <input type="number" name="id" placeholder="Id" th:value="${libro?.id}">
    </div>
    <div>
        <label>Titulo</label>
        <input type="text" name="titulo" placeholder="Titulo" th:value="${libro?.titulo}">
    </div>
    <div>
        <label>Autor</label>
        <input type="text" name="autor" placeholder="Autor" th:value="${libro?.autor}">
    </div>
    <div>
        <label>Editorial</label>
        <input type="text" name="editorial" placeholder="Editorial" th:value="${libro?.editorial}">
    </div>
    <div>
        <label>Fecha de publicacion</label>
        <input type="text" name="fecha" placeholder="Fecha de publicacion" th:value="${libro?.fecha}">
    </div>
    <div>
        <label>Tematica</label>
        <input type="text" name="tematica" placeholder="Tematica" th:value="${libro?.tematica}">
    </div>
    <div>
        <input type="submit" name="submit" th:value="${boton}">
    </div>

</form>


</body>
</html>